<link rel="stylesheet" type="text/css" href="/css/style.css" />

<div class="backgroundMainPage text-center">
  <div class="d-flex ">
    <div class=" flex-shrink-1">
      <a href="/users/teams" class="fs-4 ">Back</a>
    </div>
    <div class="p-2 w-100 ">
      <h1 class="title">
        <%=foundUser.dataValues.username%> Team
      </h1>
    </div>
  </div>

  <div class="whiteBackground">
    <div class="d-flex flex-column justify-content-center p-4">
      <%team.forEach(hero=> { %>
        <p class="text">
          <%=hero.name%>
        </p>
        <%});%>
    </div>
  </div>

  <div class="mt-3 mb-0">
    <h3 class="fs-1 text-white m-0">Comments</h3>
  </div>

  <div class="whiteBackground ">
    <div class="d-flex flex-column justify-content-center p-4">
      <%comments.forEach(comment=> { %>
        <div>
          <div class="commentName m- w-50 mx-auto">
            <h4>
              <%=comment.username%>
            </h4>
          </div>

          <div class="commentsMain m-0">
            <div>
              <p>
              <div class="text-decoration-underline">
                Comment
              </div>
              <div>
                <%=comment.comment%>
                  </p>
              </div>
            </div>

            <div>
              <p>
              <div class="text-decoration-underline">
                Rating
              </div>
              <div>
                <%=comment.rating%>
              </div>
              </p>
            </div>

          </div>


          <%if(currentUser.id===comment.userId){ %>
            <div class="d-flex justify-content-center">

              <div class="m-2">
                <a href="/users/comment/<%=comment.id%>" class=" btn btn-primary button">Edit</a>
              </div>

              <div class="m-2">
                <form method="POST" action="/users/blog/?_method=DELETE">
                  <!-- We added a hidden input so that when we delete a spacific thing it will know which one we are selecting by the value and name of the input -->
                  <input hidden type="number" value="<%=comment.id%>" name="id" />
                  <button type="submit" class=" btn btn-primary button">DELETE</button>
                </form>
              </div>

            </div>
        </div>
        <%}%>

          <%});%>

    </div>
  </div>

  <div class="mt-3 mb-0">
    <h3 class="fs-1 text-white m-0">Make a Comment</h3>
  </div>

  <div class="whiteBackground my-3">
    <div class="d-flex justify-content-center p-4">

      <form action="/users/blog/<%=foundUser.dataValues.id%>" class="d-flex flex-column" method="post">

        <input hidden type="text" name="username" value="<%=currentUser.username%>">

        <div class="d-flex justify-content-center align-items-center ">
          <div class="m-2 d-flex justify-content-center align-items-center">
            <label for="comment" class="m-2">Comment:</label>
            <textarea id="comment" name="comment" required></textarea>
          </div>

          <div class="m-2 d-flex justify-content-center align-items-center">
            <label for="rating" class="m-2">Rating:</label>
            <input id="rating" name="rating" type="number" min="1" max="5" required>
          </div>

        </div>

        <button type="submit" class="btn btn-primary button m-0">Submit</button>
      </form>

    </div>
  </div>

</div>