<h1>BLOG</h1>
<h4><%=foundUser.dataValues.username%></h4>
<ul>
    <%team.forEach(hero => { %>
        <li><%=hero.name%></li>
    <%});%>
</ul>

<h3>Comments</h3>

    <%comments.forEach(comment => { %>
        <div>
            <h4><%=comment.username%></h4>
            <p>Comment: <%=comment.comment%></p>
            <p>Rating: <%=comment.rating%></p>
        </div>
    <%});%>
    

<h2>Make a Comment</h2>
<form action="/users/blog" method="post">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" value="<%=foundUser.dataValues.username%>" required>
    
     <label for="comment">Comment:</label>
     <textarea id="comment" name="comment" required></textarea>

     <label for="rating">Rating:</label>
     <input id="rating" name="rating" type="number" min="1" max="5" required>


     <button type="submit">Submit</button>
</form>

 

        