<h1>The Hero You Searched For</h1>


<% heroesData.forEach(hero => { %>
    <!-- destructer -->
    <%const {powerstats, image biography, appearance, name} = hero %>
    <h3><%=name%></h3>
    <img width=300 height=auto src="<%=image.url%>" />
    
<h4>Power States of this Hero</h4>
<p>Intelligence: <%=powerstats.intelligence%></p>
<p>Strength: <%=powerstats.strength%></p>
<p>Speed: <%=powerstats.speed%></p>
<p>Durability: <%=powerstats.durability%></p>
<p>Power: <%=powerstats.power%></p>
<p>Combat: <%=powerstats.combat%></p>


<h4>Biography of this Hero</h4>
<p>Full Name: <%=biography['full-name']%></p>
<p>Place of Birth: <%=biography['place-of-birth']%></p>
<p>First Appearance: <%=biography['first-appearance']%></p>
<p>Publisher: <%=biography.publisher%></p>
<p>Alignment: <%=biography.alignment%></p>

<h4>The Appearance of this Hero</h4>
<p>Gender: <%=appearance.gender%></p>
<p>Height: <%=appearance.height%></p>
<p>Weight: <%=appearance.weight%></p>
<p>Eye Color: <%=appearance['eye-color']%></p>
<p>Hair Color: <%=appearance['hair-color']%></p>

<!-- made a button to add this spacific hero to the team -->
<form action="/users/team" method="POST">
    <input hidden type="text" name="name" value="<%=name%>">
    <button type="submit">Add Hero to Team</button>
</form>
<%});%>